* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
section {
  padding: 80px 0px;
}
#header {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  border: 1x solid tomato;
}
.container {
  width: 1600px;
  margin: auto;
}
.headerWrapper {
  overflow: hidden;
}

.leftHeaderContain {
  width: 50%;
  float: left;
  margin-top: 70px;
}
.leftHeaderContain h1 {
  font-size: 50px;
  padding-bottom: 35px;
}
.leftHeaderContain span {
  color: orange;
}
.leftHeaderContain h3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.leftHeaderContain p {
  font-size: 17px;
  color: grey;
  line-height: 30px;
  padding-bottom: 30px;
}
.leftHeaderContain a {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.rightHeaderImg {
  width: 40%;
  float: right;
  margin-top: 50px;
}

.rightHeaderImg img {
  max-width: 100%;
}

#myDream {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.myDreamWrapper {
  overflow: hidden;
}
.myDreamLeftImg {
  width: 45%;
  float: left;
}
.myDreamLeftImg img {
  max-width: 100%;
  float: left;
}
.rightMyDreamContain {
  width: 50%;
  float: right;
  padding-top: 100px;
}

.rightMyDreamContain h1 {
  font-size: 45px;
  padding-bottom: 35px;
}

.rightMyDreamContain h3 {
  font-size: 22px;
  padding-bottom: 20px;
}

.rightMyDreamContain p {
  font-size: 17px;
  color: grey;
  line-height: 30px;
  padding-bottom: 35px;
}

.rightMyDreamContain a {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
#myExperiences {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.myExperiencesWrapper {
  overflow: hidden;
}

.myExperiencesContainLeft {
  float: left;
  width: 45%;
  height: 400px;

  padding-left: 30px;
  padding-right: 20px;

  border-left: 8px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
  box-shadow: 4px 6px 20px 0px #80808080;
  margin-bottom: 40px;
}
.myExperiencesContainLeft h1 {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 550;
  padding-bottom: 35px;
}
.myExperiencesContainLeft h3 {
  font-size: 20px;
  color: orange;
  padding-bottom: 15px;
  font-weight: 500;
}
.myExperiencesContainLeft p {
  font-size: 18px;
  color: gray;
  line-height: 30px;
  padding-bottom: 40px;
}
.myExperiencesContainRight {
  float: right;
  width: 45%;
  height: 400px;

  padding-left: 30px;
  padding-right: 25px;
  border-left: 8px solid;
  border-image: linear-gradient(#96c5d4, #3a53daa6);
  border-image-slice: 1;
  box-shadow: 4px 3px 20px 0px #808080c9;
  margin-bottom: 40px;
}
.myExperiencesContainRight h1 {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 550;
  padding-bottom: 35px;
}
.myExperiencesContainRight h3 {
  font-size: 20px;
  color: orange;
  padding-bottom: 15px;
  font-weight: 500;
}
.myExperiencesContainRight p {
  font-size: 18px;
  color: gray;
  line-height: 30px;
  padding-bottom: 10px;
}
